<div class="flex-row center-vertical header">
    <div class="logo">
        <img src="./lt_shop_logo.svg" alt="Company Logo">
    </div>
    <p-menubar class="flex-grow">
        <ng-template pTemplate="start">
        </ng-template>
        <ng-template pTemplate="end">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/product-list">Products</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </ng-template>
    </p-menubar>
</div>
