.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}