<p-card *ngIf="product" class="product-card">
    <ng-template pTemplate="header">
        <img [src]="product.thumbnail" [alt]="product.title" class="product-image" />
    </ng-template>
    <div class="product-details">
        {{ product.title }}
        <div class="product-price">
            <span class="discounted-price">
                {{ product.getDiscountedPrice() }}
            </span>
            <span *ngIf="product.discountPercentage > 0" class="original-price">
                {{ product.getOriginalPrice() }}
            </span>
        </div>
        <p-rating [ngModel]="product.rating" [readonly]="true" stars="5" cancel="false"></p-rating>
    </div>
</p-card>